@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-pink: rgb(241, 137, 187);
    --main-grey: #24252a;
    --main-white: aliceblue;
}

* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'montserrat';
    background-color: var(--main-grey);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    min-height: calc(100vh-100px);
}


.index-body {
    display: flex;
    flex-direction: column;
}

.intro {
    font-family: 'Silkscreen';
    color: var(--main-white);
    cursor: default;
    font-size: 50px;
    padding: 25px;
    text-align: center;
    display: flex;
    margin: auto;
    z-index: 2;
}

.intro-white{
    font-family: 'Silkscreen';
    font-size: 50px;
    
    color: var(--main-white);
}

.social {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .twitter,
.instagram {
    height: 22px;
    width: 22px;
    border-radius: 7px;
} */

.soc-box{
    text-decoration: none;
    box-shadow:  -5px 5px var(--main-pink);
    /* background-color: bisque; */
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    margin: 15px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
} 

.soc-box:hover , .longer-soc-box:hover{
    box-shadow:  -7px 7px var(--main-pink);
}

.soc-link{
    text-decoration: none;
    color: aliceblue;
}

.longer-soc-box{
    width: 200px;
    text-decoration: none;
    box-shadow:  -5px 5px var(--main-pink);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    margin: 15px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

/* .insta-bg{
    transition: all 0.3s ease-in-out 0s;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .insta-bg:hover{
    background-color: var(--main-pink);
} */

.name {
    font-family: 'Silkscreen';
    font-size: 50px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--main-white);
    animation: breathe 5s;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0%{
        color: #ffadad;
    }
    12.5%{
        color: #ffd6a5;
    }
    25%{
        color: #fdffb6;
    }
    37.5%{
        color: #caffbf;
    }
    50%{
        color: #9bf6ff;
    }
    62.5%{
        color: #a0c4ff;
    }
    75%{
        color: #bdb2ff;
    }
    87.5%{
        color: #ffc6ff;
    }
    100%{
        color: #ffadad;
    }
    /* 100%{
        color: #ffc6ff;
    } */
}

.name:hover {
    cursor: pointer;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-white {
    color: var(--main-white);
    font-size: 20px;

}

.info-pink {
    color: var(--main-pink);
    padding-left: 6px;
}

.index-body {
    display: flex;
    align-items: center;
    height: 600px;
}

/* about body starts ----------------------------------------------*/

.about-body{
    display: flex;
    flex-direction: column;
}

.info-a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 80px 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    padding: 50px;
    padding-top: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.education-heading,
.skills-heading {
    color: var(--main-pink);
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
}
.skills-heading{
    margin-top: 50px;
}

.education-content,
.skills-content {
    /* width: 150px; */
    color: var(--main-white);
    text-align: center;
    padding: 3px;
}

.education-content,
.education-heading,
.skills-content,
.skills-heading :hover {
    cursor: default;
}

.edu-link {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: var(--main-white)e;
}

.edu-link:hover {
    color: var(--main-pink);
}

/* .timeline{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 65px;
}

.timeline-heading{
    font-size: 50px;
    color: aliceblue;
} */

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* CONTACT.HTML STYLES -----------------------------------------------*/

.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.contact_info{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 50px;
    border:1px solid var(--main-white);
    padding: 10px;
    /* border-radius: 10px; */
    cursor: pointer;
    animation: shadower 2s;
    animation-iteration-count: infinite;
    box-shadow:  -5px 5px var(--main-pink);
    border-radius: 10px;
}

/* @keyframes shadower {
    0%{
        box-shadow: -7px 7px var(--main-pink);
    }
    50%{
        box-shadow:  7px 7px var(--main-pink);
    }
    100%{
        box-shadow:  -7px 7px var(--main-pink);
    }
} */

/* @keyframes shadower {
    0%{
        box-shadow: -7px 7px var(--main-pink);
        color: var(--main-white)
    }
    50%{
        box-shadow:  7px -7px var(--main-pink);
        color: var(--main-pink);
    }
    100%{
        box-shadow:  -7px 7px var(--main-pink);
    }
} */

@keyframes shadower {
    0%{
        box-shadow: -7px 7px var(--main-pink);
    }
    25%{
        box-shadow:  7px 7px var(--main-pink);
    }
    50%{
        box-shadow:  7px -7px var(--main-pink);
    }
    75%{
        box-shadow:  -7px -7px var(--main-pink);
    }
    100%{
        box-shadow:  -7px 7px var(--main-pink);
    }
}

.icon{
   display: none;
    position: absolute;
    height: 0px;
    width: 0px;
}

.edu-all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

/* .one{
    font-size: 30px;
    color: var(--main-pink);
    padding: 30px;
} */

/* .edu-all a{
    text-decoration: none;
    color: var(--main-white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
} */

.work_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    flex-wrap: wrap;
    padding: 100px 50px;
}

.social {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

