@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-pink: rgb(241, 137, 187);
    --main-grey: #24252a;
    --main-white: aliceblue;
}

* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'montserrat';
    background-color: var(--main-grey);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    min-height: calc(100vh-100px);
    animation: dis 1.5s;
    animation-iteration-count: 1;
}

@keyframes dis {
    0%{
        opacity: 0;
        list-style: none;
        
    }
    
    100%{
        opacity: 100;
        list-style: none;
       
    }
}


.index-body {
    display: flex;
    flex-direction: column;
}

.intro {
    font-family: 'Silkscreen';
    color: var(--main-white);
    cursor: default;
    font-size: 50px;
    padding: 25px;
    text-align: center;
    display: flex;
    margin: auto;
    z-index: 2;
}

.space{
    position: relative;
    bottom: 13%;
}

.introp{
    color: var(--main-pink);
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 24%;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-white{
    font-family: 'Silkscreen';
    font-size: 50px;
    
    color: var(--main-white);
}

.social {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.soc-box{
    text-decoration: none;
    box-shadow:  -5px 5px var(--main-pink);
    /* background-color: bisque; */
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    margin: 15px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
} 

.soc-box:hover , .longer-soc-box:hover{
    box-shadow:  -7px 7px var(--main-pink);
}

.soc-link{
    text-decoration: none;
    color: aliceblue;
}

.longer-soc-box{
    width: 220px;
    text-decoration: none;
    box-shadow:  -5px 5px var(--main-pink);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    margin: 15px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.cert{
    color: var(--main-pink);
 
}

.name {
    font-family: 'Silkscreen';
    font-size: 50px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--main-white);
    animation: breathe 5s;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0%{
        color: #ffadad;
    }
    12.5%{
        color: #ffd6a5;
    }
    25%{
        color: #fbff95;
    }
    37.5%{
        color: #b6ffa7;
    }
    50%{
        color: #94f6ff;
    }
    62.5%{
        color: #a0c4ff;
    }
    75%{
        color: #b5a8ff;
    }
    87.5%{
        color: #ffbaff;
    }
    100%{
        color: #fea4a4;
    }
    
}

.name:hover {
    cursor: pointer;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-white {
    color: var(--main-white);
    font-size: 20px;

}

.info-pink {
    color: var(--main-pink);
    padding-left: 6px;
}

.index-body {
    display: flex;
    align-items: center;
    height: 600px;
}

/* about body starts ----------------------------------------------*/

.about-body{
    display: flex;
    flex-direction: column;
    cursor: default;
}

.info-a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 80px 200px;
    padding-top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    padding: 50px;
    padding-top: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.education-heading,
.skills-heading {
    color: var(--main-pink);
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
}
.skills-heading{
    margin-top: 50px;
    cursor: default;
}

.education-content,
.skills-content {
    /* width: 150px; */
    color: var(--main-white);
    text-align: center;
    padding: 3px;
}

.education-content,
.education-heading,
.skills-content,
.skills-heading :hover {
    cursor: default;
}

.edu-link {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: var(--main-white)e;
}

.edu-link:hover {
    color: var(--main-pink);
}

/* .timeline{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 65px;
}

.timeline-heading{
    font-size: 50px;
    color: aliceblue;
} */

/* CONTACT.HTML STYLES -----------------------------------------------*/

.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.contact_info{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 50px;
    border:1px solid var(--main-white);
    padding: 10px;
    /* border-radius: 10px; */
    cursor: pointer;
    animation: fadeIncx 1s , shadower 2s infinite;
    /* animation-iteration-count: infinite; */
    box-shadow:  -5px 5px var(--main-pink);
    border-radius: 10px;
}

@keyframes shadower {
    0%{
        box-shadow: -7px 7px var(--main-pink);
    }
    25%{
        box-shadow:  7px 7px var(--main-pink);
    }
    50%{
        box-shadow:  7px -7px var(--main-pink);
    }
    75%{
        box-shadow:  -7px -7px var(--main-pink);
    }
    100%{
        box-shadow:  -7px 7px var(--main-pink);
    }
}

.icon{
   display: none;
    position: absolute;
    height: 0px;
    width: 0px;
}

.edu-all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.social {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dbutton {
    padding: 7px 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--main-pink);
    text-decoration: none;
    font-weight: 500;
    color: var(--main-white);
    transition: all 0.3s ease 0s;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;

}

.dbutton:hover
{
border-color: var(--main-pink);
background-color: var(--main-pink);
color: var(--main-grey);
transition: all 0.3s ease 0s;
cursor: pointer;


}
.dbutton i{
    transition: background-color 0.3s ease 0s;
    cursor: pointer;

}
.dbutton:hover i {
    color: var(--main-grey);
    background-color: var(--main-pink);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.edcert{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    padding-top: 0;
}

.education-content{
    position: relative;
    bottom: -7px;
}

.education .button{
    position: relative;
    top: 10px;
    box-shadow: 0px 0px 2 white ;
}

.work_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}
  
.animated {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .animated:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .animated:nth-child(3) {
    animation-delay: 0.6s;
  }
  .animated:nth-child(4) {
    animation-delay: 0.8s;
  }
  .animated:nth-child(5) {
    animation-delay: 1s;
  }
  .animated:nth-child(6) {
    animation-delay: 1.2s;
  }
  .animated:nth-child(7) {
    animation-delay: 1.4s;
  }
  .animated:nth-child(8) {
    animation-delay: 1.6s;
  }
  .animated:nth-child(9) {
    animation-delay: 1.8s;
  }
  .animated:nth-child(10) {
    animation-delay: 2s;
  }


  .animatedy {
    opacity: 0;
    animation: fadeIny 1s forwards;
  }

  
  @keyframes fadeIny {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.animatedy:nth-child(1) {
    animation-delay: 0.2s;
}
  
.animatedy:nth-child(2) {
    animation-delay: 0.4s;
}

.animatedy:nth-child(3) {
    animation-delay: 0.6s;
}
.animatedy:nth-child(4) {
    animation-delay: 0.8s;
}
.animatedy:nth-child(5) {
    animation-delay: 1s;
}
.animatedy:nth-child(6) {
    animation-delay: 1.2s;
}
.animatedy:nth-child(7) {
    animation-delay: 1.4s;
}
.animatedy:nth-child(8) {
    animation-delay: 1.6s;
}
  
.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back{
    padding-top: 3%;
    padding-left: 3%;
}