header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 100px;
}

.logo {
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

header ul{
    list-style: none;
    animation: dis 1.5s;
    animation-iteration-count: 1;
}


header ul li {

    display: inline-block;
    padding: 10px 20px;
}

header ul li a{
    color: var(--main-white);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {

    color: var(--main-pink);

}

.current {
    color: var(--main-pink)
}

.button {
    padding: 7px 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--main-pink);
    text-decoration: none;
    font-weight: 500;
    color: var(--main-white);
    transition: all 0.3s ease 0s;
    
}

.button:hover,
.current-button {
    border-color: var(--main-pink);
    background-color: var(--main-pink);
    color: var(--main-grey);
   
}

@keyframes dis {
    0%{
        opacity: 0;
        list-style: none;
        
    }
    
    100%{
        opacity: 100;
        list-style: none;
       
    }
}

@media screen and (max-width:700px){

    header ul li a{
        color: var(--main-white);
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        font-size: small;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: 100px;
        /* background-color: #fff; */
    }

    .logo {
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }

    .button {
        /* background-color: rgb(241, 137, 187); */
        padding: 7px 7px;
        border-style: solid;
        border-radius: 50px;
        border-width: 2px;
        border-color: var(--main-pink);
        text-decoration: none;
        font-weight: 500;
        color: var(--main-white);
        transition: all 0.3s ease 0s;
        font-size: small;
    }

    .button:hover,
.current-button {
    border-color: var(--main-pink);
    background-color: var(--main-pink);
    color: var(--main-grey);
    
}
header ul li {

    display: inline-block;
    padding: 10px 7px;
}

}

