@media screen and (max-width:1000px){
    .intro , .info{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .education-content{
        width: 300px;}

    .education{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}


@media screen and (max-width:700px){
    .intro{
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .intro-white , .name {
        font-size: 30px;

    }

    .soc-box{
        font-size: 13px;
        width: 104px;
        height: 31px;
    }

    .social{
        display: flex;
        flex-direction: column;
    }

    .info-white{
        font-size: smaller;
    }

    .longer-soc-box{
        width: 150px;
        text-decoration: none;
        box-shadow:  -5px 5px var(--main-pink);
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid aliceblue;
        margin: 15px;
        transition: all 0.3s ease;
        flex-wrap: wrap;
        /* font-size: = smaller; */
        font-size: 13px;
        
    }

    .dbutton {
        /* background-color: rgb(241, 137, 187); */
        padding: 7px 10px;
        border-style: solid;
        border-radius: 50px;
        border-width: 2px;
        border-color: var(--main-pink);
        text-decoration: none;
        font-weight: 500;
        color: var(--main-white);
        transition: all 0.3s ease 0s;
        font-size: 14px;
        margin-top: 15px;
        cursor: pointer;
    
    }

    @keyframes fadeIny {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .animatedy:nth-child(1) {
          animation-delay: 0.2s;
        }
        
        .animatedy:nth-child(2) {
            animation-delay: 0.4s;
        }
      
      .animatedy:nth-child(3) {
        animation-delay: 0.6s;
      }
      .animatedy:nth-child(4) {
        animation-delay: 0.8s;
      }
      .animatedy:nth-child(5) {
        animation-delay: 1s;
      }
      .animatedy:nth-child(6) {
        animation-delay: 1.2s;
      }
      .animatedy:nth-child(7) {
        animation-delay: 1.4s;
      }

      .back{
        padding-top: 8%;
        padding-bottom: 10%;
      }
}